@model QuoteFlow.Models.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Getting Started - QuoteFlow";
}

@Html.Partial("Partials/Dashboard/FirstTime")

<div class="marketing-page-footer">
    <button id="getting-started-footer-cta-button" class="aui-button aui-button-subtle">Git back to it</button>
    <p>If you’d like to learn more, check out our <a href="https://www.atlassian.com/git" target="_blank" id="getting-started-footer-gitmicrosite-link">beginner’s guide to Git</a>.</p>
    <p>Looking for a powerful desktop Git client? <a href="http://www.sourcetreeapp.com" target="_blank" id="getting-started-footer-sourcetree-link">Get SourceTree for free</a>.</p>
</div>