<div class="results-count aui-item">
    <span class="results-count-text">
        {getText('navigator.results.displayissues', $start, $end, $total)|noAutoescape}
    </span>
    <a href="#" class="refresh-table" title="Refresh results">Refresh results</a>
</div>