@model QuoteFlow.Areas.Admin.ViewModels.QuoteStatusListModel
           
@{
    ViewBag.Title = "Administration - QuoteFlow";
}

<div class="quote-status-intro">
    <div class="intro-content">
        <div class="aui-group content-open">
            <div class="aui-item">
                <h4>What are quote statuses?</h4>
                <p>
                    Quote statuses act as indicators for what stage a quote is currently in. While a quote
                    must have distinct start and finish points, new statuses can be added to suit the
                    needs of your workflow.
                </p>
                <p>
                    Each quote status can also add rules to automatically alert someone when a quote has
                    entered (or left) a particular status.
                </p>
                <p>
                    <button class="aui-button aui-button-link intro-toggle">Hide this information</button>
                </p>
            </div>
            <div class="aui-item intro-item-how">
                <div class="aui-group intro-group-how">
                    <div class="aui-item">
                        <img class="how-image" src="@Url.Content("~/Content/images/quote-status/intro-help-progress.png")"/>
                        <strong class="how-title">Progress</strong>
                        <div class="how-description">The quote details page uses quote statuses to display what stage a quote is in.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<header class="aui-page-header">
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h2>Quote Statuses</h2>
        </div>
    </div>
</header>

<table id="quote_status_container"></table>

<form class="aui" action="#">
    <table id="custom-app-admin-content" class="aui-restfultable aui-restfultable-allowhover aui">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="aui-restfultable-create">
            <tr class="aui-restfultable-row aui-restfultable-editrow aui-restfultable-focused">
                <td class="aui-restfultable-order">
                    <span class="aui-restfultable-draghandle"></span>
                </td>
                <td>
                    <input type="text" class="text" name="name" value="">
                </td>
                <td></td>
                <td class="aui-restfultable-operations">
                    <input class="aui-button" type="submit" value="Add">
                </td>
            </tr>
        </tbody>
        <tbody class="ui-sortable">
            <tr class="aui-restfultable-readonly aui-restfultable-row" data-id="1" data-name="Stash">
                <td class="aui-restfultable-order">
                    <span class="aui-restfultable-draghandle"></span>
                </td>
                <td>
                    <span class="custom-apps-restfultable-readonly">Stash</span>
                </td>
                <td>
                    <a href="#">Edit rules</a>
                </td>
                <td></td>
            </tr>
            <tr class="aui-restfultable-readonly aui-restfultable-row" data-id="2" data-displayname="QuoteFlow" data-url="http://quoteflow.io" data-allowedgroups="">
                <td class="aui-restfultable-order"><span class="aui-restfultable-draghandle"></span></td>
                <td>
                    <span class="aui-restfultable-editable" data-field-name="name">QuoteFlow</span>
                </td>
                <td>
                    <a href="#">Edit rules</a>
                </td>
                <td class="aui-restfultable-operations"><a href="#" class="aui-button aui-restfultable-delete">Delete</a></td>
            </tr>
        </tbody>
    </table>
</form>