<div>
    <div class="navigator-content empty-results">
        <div class="jira-adbox jira-adbox-medium no-results no-results-message">
            <h3>No assets were found to match your search</h3>
        </div>
    </div>
</div>
