<div class="aui-group split-view">
    <div class="aui-item list-results-panel"></div>
    <div class="aui-item detail-panel">
        <div class="asset-container"></div>
        <div class="tools-container"></div>
    </div>
</div>
