<div class="issue-tools">
    <div class="pager-container"></div>
    {{#if showExpand}}
        <button title="Expand asset ( {{expandShortcutKey}} )" class="aui-button aui-button-subtle expand">
            <span class="aui-icon aui-icon-small aui-iconfont-focus">Expand asset ( {{expandShortcutKey}} )</span>
        </button>
    {{/if}}
</div>
