<div class="shifter-dialog" id="{{id}}">
    <form class="aui ajs-dirty-warning-exempt">
        <div id="{{id}}-suggestions" class="aui-list"></div>
    </form>
    <div class="hint-container overflow-ellipsis" title="Pressing full-stop (.) opens this dialog box">
        Pressing full-stop (<kbd>.</kbd>) opens this dialog box
    </div>
</div>