{{!--
    @param id
    @param name
    @param requiresLoginForUser
    @param navUrl
    @param useActions
--}}
<li>
    <a class="filter-link" href="{{navUrl}}" data-id="{{id}}" title="{{name}}">{{name}}</a>
</li>
