<div class="quote-content">
    <h4 class="quote-title">Quote Summary</h4>
    <div class="quote-pricing">
        <h3 class="total-price">$18,894.85</h3>
        <ul class="hidden">
            <li>Discounts: $0.00</li>
        </ul>
    </div>
    <div class="quote-panel-line-items-container"></div>
</div>
