<form id="{{asset.id}}-form" class="ajs-dirty-warning-exempt aui" action= "#">
    <div class="inline-edit-fields">
        {{{asset.editHtml}}}
    </div>
    <span class="overlay-icon throbber" />
    <div class="save-options">
        <button type="submit" class="aui-button submit" accessKey="s" title=""><span class="aui-icon aui-icon-small aui-iconfont-success">Save</span></button>
        <button type="cancel" class="aui-button cancel" accessKey="`" title=""><span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Cancel</span></button>
    </div>
</form>
