<div id="issue-content" class="form-body">
    <header class="issue-header">
        <div class="issue-header-content">
            <header class="aui-page-header">
                <div class="aui-page-header-inner">
                    <div class="aui-page-header-main">
                        <h1>Asset does not exist</h1>
                    </div>
                    <div class="aui-page-header-actions">
                        <div id="issue-header-pager"></div>
                    </div>
                </div>
            </header>
        </div>
    </header>
    <div class="asset-body-content">
        <div class="aui-message error">
            <span class="aui-icon icon-error"></span>
            <p>The asset you are trying to view does not exist.</p>
            <p>If you think this message is wrong, please contact your <a href="/secure/ContactAdministrators!default.jspa">QuoteFlow administrator</a>.</p>

            <p>
                <a id="return-to-search" class="push-state" href="/assets/" title="Return to search">Return to search</a>
            </p>
        </div>
    </div>
</div>
