<header class="aui-dialog2-header">
    <h2 class="aui-dialog2-header-main">Set an asset var field</h2>
    <a class="aui-dialog2-header-close">
        <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
    </a>
</header>
<div class="aui-dialog2-content">
    <form class="aui">
        <h3>Select an existing Asset Var</h3>
        <div class="field-group">
            <label for="select_asset_var">Existing AssetVar</label>
            <select class="select long-field" id="select_asset_var" name="select_asset_var">
                <option>Select an AssetVar</option>
                {{#each assetVars}}
                <option value="{{Id}}">{{Name}}</option>
                {{/each}}
            </select>
        </div>

        <h3>Or create a new one</h3>
        <div class="field-group">
            <label for="new_asset_var">AssetVar Name</label>
            <input class="text long-field" type="text" id="new_asset_var" name="new_asset_var" />
            <div class="description">Enter a name for this AssetVar</div>
        </div>
    </form>
</div>
<footer class="aui-dialog2-footer">
    <div class="aui-dialog2-footer-actions">
        <span class="aui-icon aui-icon-wait dialog-footer-spinner hidden"></span>
        &nbsp;
        <button id="save-changes-dialog-submit-button" class="aui-button aui-button-primary dialog-save-button"
        {{#if showSpinner}}aria-disabled="true" disabled="disabled"{{/if}}>Create</button>
        &nbsp;
        <button id="save-changes-dialog-close-button" class="aui-button aui-button-link dialog-cancel-button">Close</button>
    </div>
</footer>
