<div class="aui-group">
    <div class="aui-item search-wrap">
        <div class="search-container"></div>
        <div class="save-filter-controls"></div>
    </div>
		{{#if layoutSwitcher}}
    <div class="aui-item view-selector" id="layout-switcher-toggle"></div>
    {{/if}}
</div>
<div class="notifications"></div>
