{{#each items}}
	<a href="#" class="switcher-item {{#compare id ../selectedId}}active{{/compare}}" data-id="{{id}}"
			title="
					{{#compare id 'basic'}}
					Switch to advanced search using JQL
					{{else}}
					Switch to basic search
					{{/compare}}">
			{{#compare id 'basic'}}
			Advanced
			{{else}}
			Basic
			{{/compare}}
	</a>
{{/each}}
