@model QuoteFlow.Models.ViewModels.Assets.AssetVarDropdown
           
<div class="editor-label">
    <label>
        @Html.DropDownListFor(m => m.AssetVarId, Model.AssetVarNames)
    </label>
</div>
<div class="editor-field"></div>
