@model QuoteFlow.Models.CatalogImport.CatalogImportSummaryRecord
<tr>
    <td>@(Model.RowId + 1)</td>
    <td>
        <span class="aui-icon aui-icon-small aui-iconfont-devtools-task-cancelled"></span>
    </td>
    <td>This row was skipped as the asset seems to already exist. Pricing for this record was inserted instead.</td>
    <td><a href="#">Asset Link</a></td>
</tr>
