@model QuoteFlow.Models.CatalogImport.CatalogImportSummaryRecord
<tr>
    <td class="row-id">@(Model.RowId + 1)</td>
    <td class="import-result-icon">
        <span class="aui-icon aui-icon-small aui-iconfont-approve" style="color: #057D07"></span>
    </td>
    <td>This row was successfully imported.</td>
    <td class="asset-link"><a href="#">Asset Link</a></td>
</tr>
