@model QuoteFlow.Models.CatalogImport.CatalogImportSummaryRecord
<tr>
    <td>@(Model.RowId + 1)</td>
    <td>
        <span class="aui-icon aui-icon-small aui-iconfont-devtools-task-cancelled"></span>
    </td>
    <td>
        This row was skipped for the following reason:
        <br />
        '@Model.Reason'
    </td>
    <td><a href="#">Asset Link</a></td>
</tr>
