@{
    ViewBag.Title = "Index";
}

<div id="assets">
    <div id="assets_list">
        <header class="row">
            <div class="assets-toolbar span12">
                <div class="pull-left">
                    <a href="/@Model.Catalog.Id/@Model.Catalog.Name.URLFriendly()/asset/new" class="btn">Add an asset</a>
                </div>
                <div class="asset-filters">
                    
                </div>
            </div>
            <h2>Assets</h2>
        </header>
    </div>
</div>
