@{
    ViewBag.Title = "404 - QuoteFlow";
}

<div class="section">
    <div class="header">
        <h1>Atlassian Stash is starting up</h1>
    </div>

    <p class="message"><span id="message" title="Stash has started successfully">Stash has started successfully</span></p>

    <div class="progress-bar"><span id="progress" class="progress-indicator" style="width: 100%;"></span></div>
</div>