@using QuoteFlow.Api.Models
@using QuoteFlow.Api.Models.ViewModels
@model QuoteFlow.Api.Models.ViewModels.Quotes.QuoteShowModel

@{
    ViewBag.Title = string.Format("{0} Change History - QuoteFlow", Model.Quote.Name);
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h2>@Model.Quote.Name</h2>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Created By:</span>
                        <span>@Model.QuoteCreator.FullName</span>
                    </li>
                </ul>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Quote/ShowSidebar", new SidebarViewModel<Quote>("change history", Model.Quote))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Overview</h2>
                        </div>
                    </div>
                </div>

                <div class="summary-modules">
                    <div class="aui-group">
                        <div class="aui-item">
                            <div class="module">
                                <!-- Product description module -->
                                <p>@Model.Quote.Description</p>
                            </div>
                            <div class="module">
                                <!-- Product versions module -->
                                <h3>Recent Activity</h3>
                                <p>Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- .aui-page-panel-content -->

            <aside class="aui-page-panel-sidebar">
                <h3>Versions</h3>

            </aside>
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
