@using QuoteFlow.Api.Models
@using QuoteFlow.Api.Models.ViewModels
@using QuoteFlow.Infrastructure.Helpers
@model QuoteFlow.Api.Models.ViewModels.Quotes.QuoteLineItemsViewModel

@{
    ViewBag.Title = string.Format("{0} Line Items - QuoteFlow", Model.Quote.Name);
}

<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header">
            <div class="aui-page-header-inner">
                <h2>@Model.Quote.Name</h2>

                <ul class="operations-list">
                    <li>
                        <span class="list-label">Created By:</span>
                        <span>@Model.QuoteCreator.FullName</span>
                    </li>
                </ul>
            </div>
        </div>
    </header><!-- .aui-page-header -->

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            @Html.Partial("Partials/Quote/ShowSidebar", new SidebarViewModel<Quote>("line items", Model.Quote))

            <section class="aui-page-panel-content">
                <div class="aui-page-header">
                    <div class="aui-page-header-inner">
                        <div class="aui-page-header-main">
                            <h2>Line Items</h2>
                        </div>
                    </div>
                </div>

                @if (Model.LineItems.TotalCount > 0)
                {
                    <table class="aui aui-table-interactive line-items">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Part Number</th>
                                <th>Cost</th>
                                <th>Markup</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var lineItem in Model.LineItems)
                                {
                                    Html.RenderPartial("Partials/Quote/LineItems/Row", lineItem.Asset);
                                }
                            }
                        </tbody>
                    </table>

                    @UIHelpers.PageNumber(Model.PaginationUrl, Model.LineItems, "aui-nav aui-nav-pagination")
                }
            </section><!-- .aui-page-panel-content -->
        </div><!-- .aui-page-panel-inner -->
    </div><!-- .aui-page-panel -->
</section>
