{{! A single criterion button }}
<button type="button" data-id="{{id}}" class="criteria-selector aui-button aui-button-subtle drop-arrow" />
<a href="#" class="remove-filter" title="Remove filter" tabindex="-1"><span class="aui-icon aui-icon-small aui-iconfont-remove"></span></a>
