<div class="searcher-no-edit-content">
	{{#if messages}}
        <div class="aui-message info">
            <span class="aui-icon icon-info"></span>
			To search by {{fieldName}} please switch to advanced.
        </div>
    {{/if}}
</div>
