<div class="aui-message error {{#if closeable}}closeable{{/if}}">
    <span class="aui-icon icon-error"></span>
    {{{msg}}}
    {{#if closeable}}
        <span class="aui-icon icon-close"></span>
    {{/if}}
</div>
