<div class="aui-message info {{#if closeable}}closeable{{/if}}">
    <span class="aui-icon icon-info"></span>
    {{{msg}}}
    {{#if closeable}}
        <span class="aui-icon icon-close"></span>
    {{/if}}
</div>
