<div class="aui-message success {{#if closeable}}closeable{{/if}}">
    <span class="aui-icon icon-success"></span>
    {{{msg}}}
    {{#if closeable}}
        <span class="aui-icon icon-close"></span>
    {{/if}}
</div>
