<div class="aui-message warning {{#if closeable}}closeable{{/if}}">
    <span class="aui-icon icon-warning"></span>
	{{{msg}}}
	{{#if closable}}
        <span class="aui-icon icon-close"></span>
    {{/if}}
</div>
