{{! "splitview-asset-link" is used instead to stop enhanceAssetLinks from running }}
<a class="splitview-asset-link" data-asset-id="{{id}}" href="{{assetUrl}}">
    <img height="16" width="16" alt="" title="" src="" />
    &nbsp;
    <span class="asset-link-sku">{{SKU}}</span><br />
    <span class="asset-link-title">{{Name}}</span>
</a>