<div class="marketing-panel marketing-panel-swapped marketing-page-header">
    <div class="marketing-panel-inner">
        <div class="marketing-panel-image marketing-panel-get-started" role="img" aria-label="Screenshot"></div>
        <div class="marketing-panel-text">
            <h1>
                Welcome to Stash<br>
                <strong>Let’s get started</strong>
            </h1>
            <p class="skip-welcome">Familiar with Stash? <a href="/projects" id="getting-started-header-cta-link">Git on with it</a>.</p>
        </div>
    </div>
</div>
<div class="marketing-panel marketing-panel-wide">
    <div class="marketing-panel-inner">
        <h2>
            Repository management.<br>
            Stay on top of code changes and work in progress
        </h2>
        <p>
            Browse repositories within your organization’s projects and keep up to date with your team’s changes.<br>
            Quickly navigate through source, commits, branches and pull requests to find out what happened and when.
        </p>
        <div class="marketing-panel-image marketing-panel-birds-eye-view" role="img" aria-label="Screenshot"></div>
    </div>
</div>
<div class="marketing-panel marketing-panel-swapped">
    <div class="marketing-panel-inner">
        <div class="marketing-panel-image marketing-panel-develop-freely" role="img" aria-label="Screenshot"></div>
        <div class="marketing-panel-text">
            <h2>
                Flexible workflows.<br>
                Quality and speed without merge pain
            </h2>
            <p>With Git, your team can work on changes in branches and decide when and how they’re merged.</p>
            <p>Stash assists by guiding you from branch creation to feature merge.</p>
            <p>For contractors, large teams and side-projects, forks provide an additional layer of separation and security.</p>
        </div>
    </div>
</div>
<div class="marketing-panel">
    <div class="marketing-panel-inner">
        <div class="marketing-panel-image marketing-panel-feedback-in-context" role="img" aria-label="Screenshot"></div>
        <div class="marketing-panel-text">
            <h2>
                Pull requests.<br>
                Get feedback right at the source
            </h2>
            <p>Stash offers fast and focused code review using pull requests. They encourage teams to talk about their code.</p>
            <p>Stash diff view options help others understand your changes. See their comments inline and address feedback directly.</p>
        </div>
    </div>
</div>
<div class="marketing-panel marketing-panel-swapped">
    <div class="marketing-panel-inner">
        <div class="marketing-panel-image marketing-panel-link-to-jira" role="img" aria-label="Screenshot"></div>
        <div class="marketing-panel-text">
            <h2>Link your changes back to JIRA issues</h2>
            <p>View the full context of a code change and its associated issues with JIRA and Stash integration.</p>
            <p>From within a pull request, you can view information on JIRA issues, transition them, and resolve them without ever leaving Stash.</p>
        </div>
    </div>
</div>