@model QuoteFlow.Models.Contact

@{ ViewBag.Title = "QuoteFlow - "; }

<div class="row-fluid">
    <div class="span12">
        <div class="contact-name">
            <h3>@Model.FullName</h3>
            <span>@Model.Title at @Model.Organization</span>
        </div>
    </div>
</div>
