@using QuoteFlow.Infrastructure.Extensions

<a href="#dropdown2-header7" aria-owns="dropdown2-header7" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header7">
    <span class="aui-icon aui-icon-small aui-iconfont-help">Help</span><span class="aui-icon-dropdown"></span>
</a>
<div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header7" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
    <div class="aui-dropdown2-section">
        <ul>
            <li><a href="http://example.com/" class="active">Online help</a></li>
            <li><a href="@Url.GettingStarted()">Getting Started</a></li>
            <li><a href="http://example.com/">Keyboard shortcuts</a></li>
            <li><a href="http://example.com/">About</a></li>
        </ul>
    </div>
</div>