@using QuoteFlow.Infrastructure.Extensions

<a href="#" aria-haspopup="true" class="aui-dropdown2-trigger aui-alignment-element-attached-top aui-alignment-element-attached-left" aria-controls="dropdown2-qf-help" aria-expanded="false">
    <span class="aui-icon aui-icon-small aui-iconfont-help">Help</span><span class="aui-icon-dropdown"></span>
</a>
<div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header aui-layer aui-alignment-side-bottom aui-alignment-snap-left aui-alignment-element-attached-top aui-alignment-element-attached-left aui-alignment-side-bottom aui-alignment-snap-left aui-alignment-side-bottom aui-alignment-snap-left" id="dropdown2-qf-help" aria-hidden="true" data-aui-alignment="bottom auto" data-aui-alignment-static="true">
    <div class="aui-dropdown2-section">
        <ul>
            <li><a href="http://example.com/" class="active">Online help</a></li>
            <li><a href="@Url.GettingStarted()">Getting Started</a></li>
            <li><a href="http://example.com/">Keyboard shortcuts</a></li>
            <li><a href="http://example.com/">About</a></li>
        </ul>
    </div>
</div>