// Catalog asset row styling
table.catalog-assets {

    td.name {
        max-width: 300px;
        vertical-align: baseline;

        > a {
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            width: 100%;
            vertical-align: bottom;
        }
    }

    td.sku {
        max-width: 100px;

        > span {
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            vertical-align: text-bottom;
        }
    }

    td.pricing {

        table {
            font-size: 12px;
            width: 100%;

            thead {
                border-bottom: 1px solid #ddd;

                th {
                    color: #808080;
                    font-size: 9px;
                    font-weight: bold;
                    padding: 4px 10px;
                    text-align: right;
                    text-transform: uppercase;
                }
            }

            tbody tr {
                border-bottom: none;

                td {
                    padding: 3px 10px;
                }
            }

            td.bullet {
                max-width: 10px;
                padding-right: 0;
            }

            td.markup, td.sell {
                text-align: right;
            }
        }
    }
}