.aui-page-focused {

    .secondary-link {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .new-field {
        display: block;
        padding-top: 15px;
        text-align: right;
    }
}