.workflow-box {
    form.aui {
        input.text, input.password, .select, textarea {
            width: 100%;
            max-width: inherit;
        }
    }
}

#login_form {

    .forgot-password {
        margin-left: 10px;
    }

    .sign-up {
        margin-top: 20px;
    }
}