.aui-page-panel-content .summary-modules {
  margin-top: 20px;
}
.aui-page-panel-content .summary-modules .module {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 25px;
}
.aui-page-panel-content .summary-modules .module:first-child {
  margin-top: 0;
}
.aui-page-panel-content .summary-modules .module:before,
.aui-page-panel-content .summary-modules .module:after {
  content: " ";
  display: table;
}
.aui-page-panel-content .summary-modules .module:after {
  clear: both;
}
.aui-page-panel-content .summary-modules .module > .module-header > h3 {
  margin-top: 0;
}
.aui-page-panel-content .summary-modules .module > .module-header:before,
.aui-page-panel-content .summary-modules .module > .module-header:after {
  content: " ";
  display: table;
}
.aui-page-panel-content .summary-modules .module > .module-header:after {
  clear: both;
}
.aui-page-panel-content .summary-modules .module > .module-header + .module-content {
  margin-top: 10px;
}
.aui-page-panel-content .summary-modules .module .module-content:before,
.aui-page-panel-content .summary-modules .module .module-content:after {
  content: " ";
  display: table;
}
.aui-page-panel-content .summary-modules .module .module-content:after {
  clear: both;
}
.aui-page-panel-content .summary-modules .module + .module {
  border-top: 1px solid #cccccc;
  margin-top: 25px;
  padding-top: 25px;
}
.page-type-split {
  overflow-y: hidden;
}
.page-type-split .navigator-container {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.page-type-split .navigator-container > .navigator-body {
  display: table-cell;
  vertical-align: top;
}
.page-type-split .navigator-body {
  background-color: white;
  border-bottom: 0;
}
.page-type-split .navigator-body .saved-search-selector {
  border-bottom: 1px solid #e6e6e6;
  background-color: #f5f5f5;
  padding: 20px;
}
.page-type-split .navigator-body .saved-search-selector:before,
.page-type-split .navigator-body .saved-search-selector:after {
  content: " ";
  display: table;
}
.page-type-split .navigator-body .saved-search-selector:after {
  clear: both;
}
.page-type-split .navigator-body .saved-search-selector .search-header-view:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
.page-type-split .navigator-body .saved-search-selector .search-header-view h1 {
  float: left;
  font-size: 24px;
  font-weight: normal;
  margin-right: 12px;
  max-width: 18em;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.page-type-split .navigator-body .saved-search-selector .search-header-view .filter-operations {
  list-style: none;
  display: inline-block;
  margin-top: 0;
  padding-left: 2px;
}
.page-type-split .navigator-body .saved-search-selector .search-header-view > li {
  display: inline;
  padding: 0 5px;
}
.page-type-split .navigator-body .saved-search-selector .search-header-view li:first-child {
  padding-left: 0;
  border-left: none;
}
.page-type-split .navigator-body .saved-search-selector .saved-search-operations {
  float: right;
}
.page-type-split .navigator-body .saved-search-selector .saved-search-operations .operations {
  float: right;
}
.page-type-split .navigator-body .saved-search-selector .saved-search-operations .operations > li {
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: -moz-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: -ms-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: -o-linear-gradient(top, #ffffff 0, #f2f2f2 100%);
  background: linear-gradient(to bottom, #ffffff 0, #f2f2f2 100%);
  border-color: #ccc;
  border-radius: 3.01px;
  border-style: solid;
  border-width: 1px;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: inherit;
  font-variant: normal;
  line-height: 20px;
  margin: 0 10px 0 0;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  vertical-align: baseline;
  background: transparent;
  border-color: transparent;
  color: #707070;
  margin: 0;
  padding: 0;
  position: relative;
}
.page-type-split .navigator-body .saved-search-selector .saved-search-operations .operations > li > a.aui-dd-link {
  padding-right: 21px;
}
.page-type-split .navigator-body .saved-search-selector .saved-search-operations .operations li {
  margin-left: 5px;
}
.page-type-split .navigator-search {
  border-bottom: 1px solid #e6e6e6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5;
  clear: both;
  padding: 5px 20px 5px 12px;
}
.page-type-split .navigator-search > .aui-group {
  table-layout: auto;
}
.page-type-split .navigator-search.query-component .search-container {
  display: table;
  width: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 0;
}
.page-type-split .navigator-search.query-component .search-container .search-field-container {
  display: table-cell;
}
.page-type-split .navigator-search.query-component .search-container .search-field-container .search-entry {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 3px;
  min-height: 30px;
  padding: 0 6px 0 6px;
  width: 120px;
  margin: 0;
  overflow: hidden;
  font-family: inherit;
  font-size: 14px;
  display: inline;
}
.page-type-split .navigator-search.query-component .search-container .search-options-container {
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  line-height: 30px;
  white-space: nowrap;
}
.page-type-split .navigator-search.query-component .search-container .criteria-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: static;
}
.page-type-split .navigator-search.query-component .search-container .criteria-list > li {
  display: inline-block;
  margin: 0 6px 2px 0;
  vertical-align: top;
}
.page-type-split .navigator-search.query-component .search-container .criteria-list li {
  position: relative;
  margin-bottom: 0;
}
.page-type-split .navigator-search.query-component .search-container .criteria-list .criteria-selector > .criteria-wrap {
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .page-type-split .navigator-search.query-component .search-container .criteria-list .criteria-selector > .criteria-wrap {
    max-width: 125px;
  }
}
.page-type-split .navigator-search.query-component .search-container .criteria-list .criteria-selector.aui-button {
  text-align: left;
  margin: 0;
}
.page-type-split .navigator-search.query-component .search-container .criteria-list .criteria-selector.drop-arrow {
  padding-right: 20px;
  position: relative;
}
.page-type-split .navigator-search.query-component .search-container .criteria-list .text-query-container {
  height: 30px;
}
.page-type-split .navigator-group {
  background-color: #fff;
  padding-right: 0;
  padding-bottom: 0;
}
.page-type-split .navigator-group > .results-panel {
  padding: 0;
  border: none;
  border-radius: 0;
  min-height: 600px;
}
.page-type-split .navigator-content {
  border: none;
  border-radius: 0;
  min-height: 600px;
}
.page-type-split .navigator-content.skinny .split-view .list-results-panel {
  width: 250px;
}
.page-type-split .navigator-content .split-view .list-results-panel + .detail-panel {
  padding-left: 0;
}
.page-type-split .navigator-content .split-view .list-results-panel {
  border-right: 1px solid #e6e6e6;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 320px;
  padding-left: 15px;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px 10px 0 0;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-ordering {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
  overflow: hidden;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-ordering a.order-by {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #707070;
  float: left;
  font-size: 12px;
  font-weight: bold;
  max-width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
  position: relative;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-ordering a.order-by:after {
  content: "";
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  position: absolute;
  right: 4px;
  top: 5px;
  width: 12px;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-ordering .order-options {
  text-indent: -999em;
  display: block;
  float: left;
  overflow: hidden;
  width: 20px;
  height: 16px;
  position: relative;
  margin: 5px -25px 0 0;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-ordering .order-options:before {
  border-left: 1px solid #ddd;
  content: "";
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-ordering .order-options:after {
  border: 4px solid transparent;
  border-top-color: #777;
  content: "";
  height: 0;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 0;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list > li {
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  padding: 5px 0 5px 5px;
  position: relative;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list > li.focused {
  background-color: #ebf2f9;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list > li img {
  vertical-align: text-bottom;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list > li .aui-group {
  display: none;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list .splitview-asset-link {
  outline: none;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list .splitview-asset-link .asset-link-title {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 3px;
}
.page-type-split .navigator-content .split-view .list-results-panel .list-panel .list-content .asset-list .splitview-asset-link + .splitview-asset-link {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 3px;
}
.page-type-split .navigator-content .split-view .list-results-panel .count-pagination {
  border-top: 1px solid #e6e6e6;
  margin-top: 0;
  clear: both;
  padding: 8px 0;
  table-layout: auto;
}
.page-type-split .navigator-content .split-view .list-results-panel .count-pagination .pagination {
  padding: 0 10px 0 0;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}
.page-type-split .navigator-content .split-view .list-results-panel .count-pagination .pagination .aui-nav-pagination .aui-nav-selected {
  font-weight: bold;
}
.page-type-split .navigator-content .split-view .list-results-panel .count-pagination .pagination .aui-nav-pagination li {
  font-size: 14px;
  line-height: 1;
  height: auto;
  margin: 0 0 0 .15em;
  padding: .1em;
  position: relative;
  vertical-align: bottom;
}
.page-type-split .navigator-content .split-view .list-results-panel .count-pagination .pagination .aui-nav-pagination li a {
  padding: 0;
}
.page-type-split .navigator-content .split-view .list-results-panel .count-pagination .refresh-table {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAAAAAAAACVER+kAAAADXRSTlMAETNEVWZ3iJmqu8zuvnd8xQAAAGFJREFUeNpjYEAHzAyFZ3bXCR9gYGJgjvwR7QkSW3WDgUGFASgi/JKB4Q6IoSCVAFHeboSk16QSKAUELJUpEMaf/H8ghhIDQ+F5BhYGhuprLzyKGBgZGCS28qVef4lhOQMA3iUVc38oZiwAAAAASUVORK5CYII=) 0 0 no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.page-type-split .navigator-content .split-view .list-results-panel .count-pagination .refresh-table:hover {
  opacity: 0.7;
  filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
}
.fixed-right .aui-page-panel-sidebar {
  width: 340px;
}
.fixed-right .aui-page-panel-sidebar .welcome-mat {
  background-size: 48px 48px;
  background-position: 232px 50px;
  border: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 68px;
}
.fixed-right .aui-page-panel-sidebar .welcome-mat + .welcome-mat {
  border-top: 1px solid #ccc;
}
.welcome-mat {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
  background-repeat: no-repeat;
  margin: 20px 0;
}
.welcome-mat.welcome-mat-small {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px;
  width: 300px;
  min-height: 120px;
}
.welcome-mat.welcome-mat-small h3 {
  font-size: 16px;
}
.welcome-mat h3 {
  text-align: left;
  padding: 0;
  color: #333;
  font-weight: normal;
}
.welcome-mat p {
  padding: 0;
  color: #333;
}
/*# sourceMappingURL=layout.css.map */