@model QuoteFlow.Models.ViewModels.VerifyCatalogImportViewModel

@{
    Layout = "../Shared/_FocusedLayoutLarge.cshtml";
    ViewBag.Title = "QuoteFlow - Import Catalog";
}

<h2>Set Catalog Secondary Manifest Fields</h2>
@using (Html.BeginForm("VerifyImport", "Catalog", FormMethod.Post, new { id = "request_form", enctype = "multipart/form-data", @class = "aui" }))
{
    @Html.AntiForgeryToken()
    
    <p>
        On this page you can configure any other fields that you wish to be inserted to your catalog.  This is an
        optional step and should only be used if your catalog manifest contains extra fields that you would like to
        insert as well.  Also, I am completely aware of how awful this lingo is.
    </p>

    <a id="new_asset_var_field" class="new-field" href="#">Add new field</a>

    <table id="asset_var_fields" class="aui aui-table-interactive">
        <thead>
            <tr>
                <th>Asset Var</th>
                <th>Catalog Header</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div class="buttons-container">
        <div class="buttons">
            <input class="aui-button aui-button-primary" type="submit" id="submit" name="submit" value="Import Catalog">
            <a id="cancel" class="aui-button aui-button-link" name="cancel" accesskey="c" href="#">Cancel</a>
        </div>
    </div>
}

<div id="asset_var_selection_container"></div>

@section secondaryScripts {
    <script type="text/javascript">
        var view = new QuoteFlow.UI.Catalog.ImportSetOptionalFields({
            rawRows: @ViewHelpers.JsEncode(Model.Rows.Take(100))
        });
    </script>
}
