@if (Model["selectedCatalogs"] != null && Model["selectedCatalogs"].Count > 0)
{
    <div class="searcherValue">
        <label class="fieldLabel" for="fieldcatalogid">Catalog:</label>
        <span id="fieldcatalogid" class="fieldValue">
            @for (int i = 0; i < Model["selectedCatalogs"].Count; i++)
            {
                var catalog = Model["selectedCatalogs"][i];
                <a href="#" title="@catalog.Name">
                    @catalog.Name@if (i < Model["selectedCatalogs"].Count - 1) {<text>,</text>}
                </a>
            }
        </span>
    </div>
}