<div class="field-group aui-field-catalog">
    <label for="searcher-catalogId">Catalog</label>
    <select class="select js-default-checkboxmultiselect" data-placeholder-text="Find Catalogs..." id="searcher-catalogId" multiple="multiple" name="catalogId" size="1">
        <optgroup label="All Catalogs">
            @foreach (var catalog in Model["visibleCatalogs"])
            {
                var isSelected = Model.ContainsKey("selectedCatalogs") && Model["selectedCatalogs"].Contains(catalog.Id.ToString());
                var name = catalog.Name;
                var selectedAttr = isSelected ? "selected=\"selected\"" : string.Empty;

                <option data-icon="" @selectedAttr title="@name" value="@catalog.Id">@name</option>
            }
        </optgroup>
    </select>
</div>
