@using QuoteFlow.Api.Asset.Transport
@model IDictionary<string, object>
@{
    FieldValuesHolder fieldValuesHolder = (FieldValuesHolder) Model["fieldValuesHolder"];
    string searcherId = (string) Model["searcherId"];
    string searcherNameKey = (string) Model["searcherNameKey"];
    bool minGreaterThanMax = (bool) Model["minGreaterThanMax"];
    string minField = (string) Model["minField"];
    string maxField = (string)Model["maxField"];
}
<div class="field-group aui-field-cost">
    <label>&nbsp;</label>
    <div class="cost-min">
        <label for="searcher-@minField">Min</label>
        <input class="text" id="searcher-@minField" name="@minField" type="text" value=""/>
    </div>
    <div class="cost-max">
        <label for="searcher-@maxField">Max</label>
        <input class="text" id="searcher-@maxField" name="@maxField" type="text" value=""/>
    </div>
    <div class="description">Enter a minimum, maximum or range limit</div>
</div>
