@using QuoteFlow.Api.Models
<div class="field-group aui-field-userlist">
    <label for="searcher-creator">Creator</label>
    <fieldset rel="creator" class="hidden user-group-searcher-params"></fieldset>
    <select class="js-usergroup-checkboxmultiselect" multiple="multiple" id="searcher-creator" name="creator" data-placeholder-text="Find Users...">
        <optgroup label="Suggested Users">
            
        </optgroup>
    </select>
    <input type="hidden" name="check_prev_creator" value="true">
</div>