@model QuoteFlow.Api.Models.ViewModels.Customers.CustomerHeader

<header class="aui-page-header">
    <div class="aui-page-header">
        <div class="aui-page-header-inner">
            <h2>@Model.CustomerName</h2>
        </div>
    </div>
</header><!-- .aui-page-header -->
