<div class="aui-buttons">
    <button id="layout-switcher-button" class="aui-button aui-dropdown2-trigger" type="button" aria-owns="layout-switcher-dropdown" aria-haspopup="true">
        <span class="aui-icon aui-icon-small {{activeLayout.iconClass}}"></span>
    </button>
    <div id="layout-switcher-dropdown" class="aui-style-default aui-dropdown2">
        <h5>Views</h5>
        <ul class="aui-list-section aui-first aui-last">
            {{#each layouts}}
            <li class="aui-list-item layout-switcher-item">
                <a href="#" class="aui-list-item-link" data-layout-key="{{id}}">
                    <span class="aui-icon aui-icon-small {{#if isActiveLayout}}aui-iconfont-success{{/if}}"></span>
                    {{label}}
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
