<div class="list-view">
    <div class="issue-table-info-bar">
        <div class="results-count"></div>
        <div class="column-picker-trigger-container"></div>
    </div>
    <div class="issue-table-container"></div>
    <div class="end-of-stable-message"></div>
    <div class="aui-group count-pagination">
        <div class="aui-item results-count"></div>
        <div class="aui-item pagination"></div>
    </div>
</div>