{{!-- Main layout for the SimpleAssetList --}}
<div class="simple-issue-list">
    <div class="list-panel">
        <div class="list-ordering"></div>
        <div class="search-results"></div>
    </div>
    <div class="end-of-stable-message-container"></div>
    <div class="inline-asset-create-container"></div>
    <div class="aui-group pagination-view count-pagination">
        <div class="refresh-container aui-item"></div>
        <div class="pagination-container aui-item"></div>
    </div>
</div>
