<div class="aui-item detail-panel navigator-issue-only active">
    <div class="asset-container" tabindex="-1" style="height: 870px;">
        <div id="asset-content" class="asset-edit-form">
            <header id="stalker" class="asset-header js-stalker">
                <div class="asset-header-content">
                    <header class="aui-page-header">
                        <div class="aui-page-header-inner">
                            <div class="aui-page-header-image">
                                <span id="13310" class="aui-avatar aui-avatar-large aui-avatar-project">
                                    <span class="aui-avatar-inner">
                                        <img id="project-avatar" alt="Stash" src="https://jira.atlassian.com/secure/projectavatar?pid=13310&amp;avatarId=20098">
                                    </span>
                                </span>
                            </div>
                            <!-- .aui-page-header-image -->
                            <div class="aui-page-header-main">
                                <ol class="aui-nav aui-nav-breadcrumbs">
                                    <li><a id="project-name-val" href="/browse/STASH">Stash</a></li>
                                    <li><a class="issue-link" data-issue-key="STASH-4640" href="/browse/STASH-4640" id="key-val" rel="330257">STASH-4640</a></li>
                                </ol>
                                <h1 id="summary-val">page.max.directory.children does not show correct number of files on page load</h1>
                            </div><!-- .aui-page-header-main -->
                            <div class="aui-page-header-actions">
                                <div id="asset-header-pager">
                                    <ul class="ajax ops page-navigation">
                                        <li class="previous">
                                            <span class="icon icon-page-prev-deactivated" title="Not available - this is the first issue"></span>
                                        </li>
                                        <li class="showing">1 of 6</li>
                                        <li class="next">
                                            <a data-id="241745" data-key="STASH-2815" href="/browse/STASH-2815" id="next-issue" rel="STASH-2815" title="Next Issue 'STASH-2815' ( Type 'j' )">
                                                <span class="icon icon-page-next">
                                                    <span>Next Issue 'STASH-2815'</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><!-- .aui-page-header-actions -->
                        </div><!-- .aui-page-header-inner -->
                    </header><!-- .aui-page-header --><div class="command-bar">
                        <div>
                            <div class="ops-cont">
                                <div class="ops-menus aui-toolbar">
                                    <div class="toolbar-split toolbar-split-left">
                                        <ul id="opsbar-comment-issue_container" class="toolbar-group pluggable-ops">
                                            <li class="toolbar-item">
                                                <a id="comment-issue" title="Comment on this issue" class="toolbar-trigger issueaction-comment-issue add-issue-comment inline-comment" href="/secure/AddComment!default.jspa?id=330257">
                                                    <span class="icon aui-icon aui-icon-small aui-iconfont-comment icon-comment"></span> <span class="trigger-label">Comment</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul id="opsbar-opsbar-operations" class="toolbar-group pluggable-ops">
                                            <li class="toolbar-item"><a id="greenhopper-rapidboard-operation" title="View this issue on an Agile board" class="toolbar-trigger issueaction-greenhopper-rapidboard-operation js-rapidboard-operation-issue" href="/secure/GHGoToBoard.jspa?issueId=330257"><span class="trigger-label">Agile Board</span></a></li>
                                            <li class="toolbar-item toolbar-dropdown">
                                                <div>
                                                    <a href="#" id="opsbar-operations_more" data-hide-on-scroll=".split-view .issue-container" data-contain-to-window="true" class="toolbar-trigger  js-default-dropdown"><span class="dropdown-text">More</span><span class="icon drop-menu"></span></a><div class="ajs-layer-placeholder">
                                                        <div class="ajs-layer box-shadow" id="opsbar-operations_more_drop" style="width: 200px; position: absolute; left: 529px; top: 298px; max-height: 705px; display: none;">
                                                            <div class="aui-list">
                                                                <ul class="aui-list-section aui-first"><li class="aui-list-item"><a href="/secure/AttachFile!default.jspa?id=330257" class="aui-list-item-link issueaction-attach-file" title="Attach one or more files to this issue" id="attach-file"><span class="trigger-label">Attach Files</span></a></li><li class="aui-list-item"><a href="/secure/ShowAttachScreenshotFormAction!default.jspa?id=330257" class="aui-list-item-link issueaction-attach-image" id="attach-screenshot-html5"><span class="trigger-label">Attach Screenshot</span></a></li></ul><ul class="aui-list-section"><li class="aui-list-item"><a href="/secure/VoteOrWatchIssue.jspa?atl_token=AKVY-YUFR-9LM7-97AB|d1897833c12317b22e8091681f2a4561d281018a|lin&amp;id=330257&amp;vote=vote" class="aui-list-item-link toggle-vote-issue issueaction-vote-issue" title="Vote for this issue" id="toggle-vote-issue"><span class="trigger-label">Add Vote</span></a></li><li class="aui-list-item"><a href="/secure/VoteOrWatchIssue.jspa?atl_token=AKVY-YUFR-9LM7-97AB|d1897833c12317b22e8091681f2a4561d281018a|lin&amp;id=330257&amp;watch=watch" class="aui-list-item-link issueaction-watch-issue" title="Start watching this issue" id="toggle-watch-issue"><span class="trigger-label">Watch Issue</span></a></li></ul><ul class="aui-list-section"><li class="aui-list-item"><a href="/secure/CreateSubTaskIssue!default.jspa?parentIssueId=330257" class="aui-list-item-link issueaction-create-subtask" title="Create sub-task for this issue" id="create-subtask"><span class="trigger-label">Create Sub-Task</span></a></li></ul><ul class="aui-list-section aui-last">
                                                                    <li class="aui-list-item"><a href="/secure/CloneIssueDetails!default.jspa?id=330257" class="aui-list-item-link issueaction-clone-issue" title="Clone this issue" id="clone-issue"><span class="trigger-label">Clone</span></a></li>
                                                                    <li class="aui-list-item">
                                                                        <a href="/secure/SelectTargetProject!default.jspa?id=330257" class="aui-list-item-link issueaction-clone-issue-ric" title="Remote Copy" id="clone-issue-ric">
                                                                            <span class="trigger-label">Remote Copy</span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="toolbar-split toolbar-split-right">
                                        <ul id="opsbar-jira.issue.tools" class="toolbar-group pluggable-ops">
                                            <li class="toolbar-item toolbar-dropdown">
                                                <div>
                                                    <a href="#" id="viewissue-export" data-hide-on-scroll=".split-view .issue-container" data-contain-to-window="true" class="toolbar-trigger  js-default-dropdown" original-title="Export this issue in another format">
                                                        <span class="icon icon-export viewissue-export"></span> <span class="dropdown-text">Export</span><span class="icon drop-menu"></span>
                                                    </a>
                                                    <div class="aui-list hidden">
                                                        <ul class="aui-list-section aui-first aui-last">
                                                            <li class="aui-list-item"><a href="/si/jira.issueviews:issue-xml/STASH-4640/STASH-4640.xml" class="aui-list-item-link" id="jira.issueviews:issue-xml"><span class="trigger-label">XML</span></a></li>
                                                            <li class="aui-list-item"><a href="/si/jira.issueviews:issue-word/STASH-4640/STASH-4640.doc" class="aui-list-item-link" id="jira.issueviews:issue-word"><span class="trigger-label">Word</span></a></li>
                                                            <li class="aui-list-item"><a href="/si/jira.issueviews:issue-html/STASH-4640/STASH-4640.html" class="aui-list-item-link" id="jira.issueviews:issue-html"><span class="trigger-label">Printable</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="asset-body-content">
                <div class="aui-group asset-body">
                    <div class="aui-item issue-main-column">
                        <div id="details-module" class="module toggle-wrap">
                            <div id="details-module_heading" class="mod-header">
                                <ul class="ops"></ul>
                                <h2 class="toggle-title">Details</h2>
                            </div>
                            <div class="mod-content">

                                <ul id="issuedetails" class="property-list two-cols">
                                    <li class="item">
                                        <div class="wrap">
                                            <strong class="name">Type:</strong>
                                            <span id="type-val" class="value">
                                                <img alt="Bug" height="16" src="/images/icons/issuetypes/bug.png" title="Bug - A problem which impairs or prevents the functions of the product." width="16"> Bug
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item item-right">
                                        <div class="wrap">
                                            <strong class="name">Status:</strong>
                                            <span id="status-val" class="value">
                                                <span class=" jira-issue-status-lozenge aui-lozenge jira-issue-status-lozenge-blue-gray jira-issue-status-lozenge-new jira-issue-status-lozenge-max-width-medium" data-tooltip="<span class=&quot;jira-issue-status-tooltip-title&quot;>Needs Triage</span>">Needs Triage</span>
                                            </span>
                                            <span class="status-view">(<a class="issueaction-viewworkflow new-workflow-designer" href="/plugins/servlet/workflow/thumbnail/getThumbnail?workflowName=Stash+Workflow&amp;stepId=10&amp;width=full&amp;height=full">View Workflow</a>)</span>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="wrap">
                                            <strong class="name">Priority:</strong>
                                            <span id="priority-val" class="value">
                                                <img alt="Minor" height="16" src="/images/icons/priorities/minor.png" title="Minor - Minor loss of function, or other problem where easy workaround is present." width="16"> Minor
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item item-right">
                                        <div class="wrap">
                                            <strong class="name">Resolution:</strong>
                                            <span id="resolution-val" class="value unresolved">
                                                Unresolved
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="wrap">
                                            <strong class="name">Affects Version/s:</strong>
                                            <span id="versions-val" class="value">
                                                <span class="shorten" id="versions-field" style="height: auto;">
                                                    <span title="2.11.4 ">2.11.4</span>
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item item-right">
                                        <div class="wrap">
                                            <strong class="name">Fix Version/s:</strong>
                                            <span id="fixfor-val" class="value">
                                                None
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <div class="wrap">
                                            <strong class="name">Component/s:</strong>
                                            <span id="components-val" class="value">
                                                None
                                            </span>
                                        </div>
                                    </li>
                                    <li class="item full-width">
                                        <div class="wrap" id="wrap-labels">
                                            <strong class="name">Labels:</strong>
                                            <div class="labels-wrap value">
                                                <span class="labels" id="labels-330257-value">None</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div id="descriptionmodule" class="module toggle-wrap">
                            <div id="descriptionmodule_heading" class="mod-header">
                                <ul class="ops"></ul>
                                <h2 class="toggle-title">Description</h2>
                            </div>
                            <div class="mod-content">
                                <div id="description-val" class="field-ignore-highlight">
                                    <div class="user-content-block">
                                        <p>Refreshing the same page will show "There are too many files in this directory. Only showing the first 2,500." and 2500 items are listed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="activitymodule" class="module toggle-wrap">
                            <div id="activitymodule_heading" class="mod-header">
                                <ul class="ops"></ul>
                                <h2 class="toggle-title">Activity</h2>
                            </div>
                            <div class="mod-content">

                                <div class="tabwrap tabs2">
                                    <ul id="issue-tabs" class="tabs horizontal">

                                        <li data-id="all-tabpanel" data-key="com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel" data-label="All" data-href="/browse/STASH-4640?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel">
                                            <a class="ajax-activity-content" id="all-tabpanel" href="/browse/STASH-4640?page=com.atlassian.jira.plugin.system.issuetabpanels:all-tabpanel"><strong>All</strong></a>
                                        </li>

                                        <li class="active" id="comment-tabpanel" data-id="comment-tabpanel" data-key="com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel" data-label="Comments" data-href="/browse/STASH-4640?page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel">
                                            <strong>Comments</strong>
                                        </li>

                                        <li data-id="worklog-tabpanel" data-key="com.atlassian.jira.plugin.system.issuetabpanels:worklog-tabpanel" data-label="Work Log" data-href="/browse/STASH-4640?page=com.atlassian.jira.plugin.system.issuetabpanels:worklog-tabpanel">
                                            <a class="ajax-activity-content" id="worklog-tabpanel" href="/browse/STASH-4640?page=com.atlassian.jira.plugin.system.issuetabpanels:worklog-tabpanel"><strong>Work Log</strong></a>
                                        </li>

                                        <li data-id="changehistory-tabpanel" data-key="com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel" data-label="History" data-href="/browse/STASH-4640?page=com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel">
                                            <a class="ajax-activity-content" id="changehistory-tabpanel" href="/browse/STASH-4640?page=com.atlassian.jira.plugin.system.issuetabpanels:changehistory-tabpanel"><strong>History</strong></a>
                                        </li>

                                        <li data-id="activity-stream-issue-tab" data-key="com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab" data-label="Activity" data-href="/browse/STASH-4640?page=com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab">
                                            <a class="ajax-activity-content" id="activity-stream-issue-tab" href="/browse/STASH-4640?page=com.atlassian.streams.streams-jira-plugin:activity-stream-issue-tab"><strong>Activity</strong></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="issuePanelWrapper">
                                    <div class="issuePanelProgress"></div>
                                    <div class="issuePanelContainer" id="issue_actions_container">
                                        <div class="message-container">
                                            There are no comments yet on this issue.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div id="addcomment" class="module">
                            <div id="addcomment" class="module">
                                <div class="mod-content">
                                    <form action="/secure/AddComment.jspa?atl_token=AKVY-YUFR-9LM7-97AB%7Cd1897833c12317b22e8091681f2a4561d281018a%7Clin" class="aui top-label ajs-dirty-warning-exempt" id="issue-comment-add" method="post">
                                        <div class="form-body">
                                            <div class="hidden">
                                                <input name="atl_token" type="hidden" value="AKVY-YUFR-9LM7-97AB|d1897833c12317b22e8091681f2a4561d281018a|lin">
                                                <input name="id" type="hidden" value="330257">
                                            </div>

                                            <div class="field-group aui-field-wikiedit comment-input">
                                                <label for="comment">Comment</label>

                                                <div class="wiki-edit">
                                                    <div id="comment-wiki-edit" class="wiki-edit-content">
                                                        <textarea class="textarea long-field wiki-textfield" cols="60" id="comment" name="comment" rows="10" wrap="virtual"></textarea>
                                                        <div class="content-inner">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-tools">

                                                    <a class="fullscreen" href="#" id="comment-preview_link" title="preview"><span class="aui-icon wiki-renderer-icon"></span></a>
                                                    <a class="help-lnk" id="viewHelp" href="/secure/WikiRendererHelpAction.jspa?section=texteffects" title="Get local help about wiki markup help" data-helplink="local"><span class="aui-icon aui-icon-small aui-iconfont-help"></span></a>
                                                </div>

                                                <div class="security-level">
                                                    <fieldset class="hidden parameters">
                                                        <input type="hidden" title="securityLevelViewableByAll" value="Viewable by All Users">
                                                        <input type="hidden" title="securityLevelViewableRestrictedTo" value="Restricted to ><span class='redText'>{0}</span>">
                                                    </fieldset>

                                                    <div class="select-menu" id="commentLevel-multi-select"><a class="drop" href="#"><span class="icon  icon-unlocked"></span><span class="icon drop-menu"></span></a><div class="aui-list aui-list-checked" id="commentLevel-suggestions" tabindex="-1"></div></div><div class="select-menu" id="commentLevel-multi-select"><div class="aui-list aui-list-checked" id="commentLevel-suggestions" tabindex="-1"></div></div><select name="commentLevel" id="commentLevel" multiple="multiple" style="display: none;">
                                                        <option value="">All Users</option>
                                                        <optgroup label="Project Roles">
                                                            <option value="role:10000">Users</option>
                                                        </optgroup>
                                                        <optgroup label="Groups">
                                                            <option value="group:jira-users">jira-users</option>
                                                        </optgroup>
                                                    </select>
                                                    <span class="current-level">Viewable by All Users</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="buttons-container form-footer">
                                            <div class="buttons">
                                                <input accesskey="s" class="aui-button" id="issue-comment-add-submit" name="Add" title="Press Alt+s to submit this form" type="submit" value="Add">
                                                <a accesskey="`" class="aui-button aui-button-link cancel" href="#" id="issue-comment-add-cancel" title="Press Alt+` to cancel">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="mod-footer">
                                    <ul class="ops">
                                        <li>
                                            <a href="/secure/AddComment!default.jspa?id=330257" id="footer-comment-button" name="add-comment" class="aui-button">
                                                <span class="aui-icon aui-icon-small aui-iconfont-comment icon-comment"></span>
                                                <span>Comment</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="viewissuesidebar" class="aui-item issue-side-column">
                        <div id="peoplemodule" class="module toggle-wrap">
                            <div id="peoplemodule_heading" class="mod-header"><ul class="ops"></ul><h2 class="toggle-title">People</h2></div><div class="mod-content">
                                <ul class="item-details" id="peopledetails">
                                    <li class="people-details">

                                        <dl>
                                            <dt>Reporter:</dt>
                                            <dd>
                                                <span id="reporter-val" class="view-issue-field">

                                                    <span class="user-hover" id="issue_summary_reporter_klfoong" rel="klfoong">
                                                        <span class="aui-avatar aui-avatar-small"><span class="aui-avatar-inner"><img src="/secure/useravatar?size=small&amp;ownerId=klfoong&amp;avatarId=47075"></span></span>
                                                        Kah Loun Foong [Atlassian]
                                                    </span>
                                                </span>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt title="Participants">Participants:</dt>
                                            <dd>
                                                <span id="customfield_10150-val" data-name="Participants" data-fieldtype="participants" data-fieldtypecompletekey="com.atlassian.jira.toolkit:participants">
                                                    <div class="shorten" id="customfield_10150-field" style="height: auto;">
                                                        <a class="user-hover cf-participant" rel="klfoong" title="Find all issues Kah Loun Foong [Atlassian] participated in" href="/secure/IssueNavigator.jspa?reset=true&amp;customfield_10150=klfoong">Kah Loun Foong [Atlassian]</a>
                                                    </div>
                                                </span>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>